<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
  <title>PHP Login Management</title>
</head>

<body>

  <div class="container px-4 py-2">
    <div class="row d-flex align-items-center g-lg-5 py-5 mt-4">
      <div class="col-md-6 col-lg-8 d-flex text-lg-start text-center flex-column">
        <h1 class="display-4 fw-bold lh-1">Login Management</h1>
        <p class="fw-light fs-6">
          Made by <a href="https://www.github.com/nkolis">Kholis</a> with PHP
          Programming Languange 🤩️
        </p>
      </div>
      <div
        class="col-sm-8 col-md-6 col-lg-4 mx-auto border border-2 border-secondary border-opacity-10 rounded-3 p-5 bg-light">

        <a href="/users/register" class="btn btn-outline-primary w-100 p-2 mb-2">Register</a>
        <a href="/users/login" class="btn btn-primary w-100 p-2">Login</a>
      </div>
    </div>
  </div>

  <div class="container px-4 py-2">
    <div class="row d-flex align-items-center g-lg-5 py-5 mt-4">
      <div class="col-md-6 col-lg-8 d-flex text-lg-start text-center flex-column">
        <h1 class="display-4 fw-bold lh-1">Login</h1>
        <p class="fw-light fs-6">
          Made by <a href="https://www.github.com/nkolis">Kholis</a> with PHP
          Programming Languange 🤩️
        </p>
      </div>
      <form
        class="col-sm-8 col-md-6 col-lg-4 mx-auto border border-2 border-secondary border-opacity-10 rounded-3 p-5 bg-light"
        action="/users/login" method="post">
        <div class="form-floating mb-2 mt-2">
          <input type="email" class="form-control is-invalid" placeholder="Email" name="email" id="email"
            autocomplete="off" />
          <label for="email">Email</label>
          <div id="email" class="invalid-feedback">Email cannot empty</div>
        </div>
        <div class="form-floating mb-2">
          <input type="password" class="form-control is-invalid" placeholder="Password" name="password" id="password" />
          <label for="password">Password</label>
          <div class="invalid-feedback" id="password">
            Password cannot empty
          </div>
        </div>
        <button class="btn btn-primary w-100 p-2" type="submit">Login</button>
      </form>
    </div>
  </div>

  <div class="container px-4 py-2">
    <div class="row d-flex align-items-center g-lg-5 py-5 mt-4">
      <div class="col-md-6 col-lg-8 d-flex text-lg-start text-center flex-column">
        <h1 class="display-4 fw-bold lh-1">Register</h1>
        <p class="fw-light fs-6">
          Made by <a href="https://www.github.com/nkolis">Kholis</a> with PHP
          Programming Languange 🤩️
        </p>
      </div>
      <form
        class="col-sm-8 col-md-6 col-lg-4 mx-auto border border-2 border-secondary border-opacity-10 rounded-3 p-5 bg-light"
        action="/users/register" method="post">
        <div class="form-floating mb-2 mt-2">
          <input type="email" class="form-control is-invalid" placeholder="Email" name="email" id="email"
            autocomplete="off" />
          <label for="email">Email</label>
          <div id="email" class="invalid-feedback">Email cannot empty</div>
        </div>
        <div class="form-floating mb-2 mt-2">
          <input type="text" class="form-control is-invalid" placeholder="Name" name="name" id="name"
            autocomplete="off" />
          <label for="name">Name</label>
          <div id="name" class="invalid-feedback">Name cannot empty</div>
        </div>
        <div class="form-floating mb-2">
          <input type="password" class="form-control is-invalid" placeholder="Password" name="password" id="password" />
          <label for="password">Password</label>
          <div class="invalid-feedback" id="password">
            Password cannot empty
          </div>
        </div>
        <button class="btn btn-primary w-100 p-2" type="submit">Register</button>
      </form>
    </div>
  </div>

  <div class="container px-4 py-2">
    <div class="row d-flex align-items-center g-lg-5 py-5 mt-4">
      <div class="col-md-6 col-lg-8 d-flex text-lg-start text-center flex-column">
        <h1 class="display-4 fw-bold lh-1">Dashboard</h1>
        <p class="fw-light fs-6">
          Made by <a href="https://www.github.com/nkolis">Kholis</a> with PHP
          Programming Languange 🤩️
        </p>
      </div>
      <div
        class="col-sm-8 col-md-6 col-lg-4 mx-auto border border-2 border-secondary border-opacity-10 rounded-3 p-5 bg-light">

        <a href="/users/profile" class="btn btn-outline-primary w-100 p-2 mb-2">Profile</a>
        <a href="/users/login" class="btn btn-primary w-100 p-2 mb-2">Login</a>
        <a href="/users/logout" class="btn btn-danger w-100 p-2">Logout</a>
      </div>
    </div>
  </div>

  <div class="container px-4 py-2">
    <div class="row d-flex align-items-center g-lg-5 py-5 mt-4">
      <div class="col-md-6 col-lg-8 d-flex text-lg-start text-center flex-column">
        <h1 class="display-4 fw-bold lh-1">Profile</h1>
        <p class="fw-light fs-6">
          Made by <a href="https://www.github.com/nkolis">Kholis</a> with PHP
          Programming Languange 🤩️
        </p>
      </div>
      <form
        class="col-sm-8 col-md-6 col-lg-4 mx-auto border border-2 border-secondary border-opacity-10 rounded-3 p-5 bg-light"
        action="/users/profile" method="post">
        <div class="form-floating mb-2 mt-2">
          <input type="email" class="form-control" placeholder="Email" name="email" id="email" autocomplete="off"
            disabled />
          <label for="email">Email</label>

        </div>
        <div class="form-floating mb-2">
          <input type="text" class="form-control is-invalid" placeholder="Name" name="name" id="name" />
          <label for="name">Name</label>
          <div class="invalid-feedback" id="name">
            Name cannot empty
          </div>
        </div>
        <button class="btn btn-primary w-100 p-2" type="submit">Update Profile</button>
      </form>
    </div>
  </div>

  <div class="container px-4 py-2">
    <div class="row d-flex align-items-center g-lg-5 py-5 mt-4">
      <div class="col-md-6 col-lg-8 d-flex text-lg-start text-center flex-column">
        <h1 class="display-4 fw-bold lh-1">Password</h1>
        <p class="fw-light fs-6">
          Made by <a href="https://www.github.com/nkolis">Kholis</a> with PHP
          Programming Languange 🤩️
        </p>
      </div>
      <form
        class="col-sm-8 col-md-6 col-lg-4 mx-auto border border-2 border-secondary border-opacity-10 rounded-3 p-5 bg-light"
        action="/users/password" method="post">
        <div class="form-floating mb-2 mt-2">
          <input type="email" class="form-control" placeholder="Email" name="email" id="email" autocomplete="off"
            disabled />
          <label for="email">Email</label>

        </div>
        <div class="form-floating mb-2">
          <input type="text" class="form-control" placeholder="Name" name="name" id="name" disabled />
          <label for="name">Name</label>
        </div>

        <div class="form-floating mb-2">
          <input type="password" class="form-control is-invalid" placeholder="Old Password" name="oldPassword"
            id="oldPassword" />
          <label for="oldPassword">Old Password</label>
          <div class="invalid-feedback" id="oldPassword">
            Old password cannot empty
          </div>
        </div>

        <div class="form-floating mb-2">
          <input type="password" class="form-control is-invalid" placeholder="New Password" name="newPassword"
            id="newPassword" />
          <label for="newPassword">New Password</label>
          <div class="invalid-feedback" id="newPassword">
            New password cannot empty
          </div>
        </div>
        <button class="btn btn-primary w-100 p-2" type="submit">Update Password</button>
      </form>
    </div>
  </div>

  <script>
    Swal.fire({
      title: "Login Success",
      icon: "success",
      showConfirmButton: false,
      timer: 1500,
    });
    const formControlElement = document.querySelectorAll(".form-control");

    formControlElement.forEach((el) => {
      el.addEventListener("input", (e) => {
        const target = e.target;
        const value = target.value;
        if (value != "" && target.classList.contains("is-invalid")) {
          target.classList.remove("is-invalid");
        }
      });
    });
  </script>
</body>

</html>